<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SiebelRepositorySearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SiebelRepositorySearch.Properties.Settings>
            <setting name="ConnectString" serializeAs="String">
                <value />
            </setting>
            <setting name="Usr" serializeAs="String">
                <value />
            </setting>
            <setting name="Pwd" serializeAs="String">
                <value />
            </setting>
            <setting name="DBType" serializeAs="String">
                <value />
            </setting>
            <setting name="RepId" serializeAs="String">
                <value />
            </setting>
            <setting name="AppletSearchSpec" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppletBS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppletSS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppletUPV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppletCUP" serializeAs="String">
                <value>False</value>
            </setting>
        </SiebelRepositorySearch.Properties.Settings>
    </userSettings>
</configuration>